<div [formGroup]="form">
    <div class="car-wrap" formArrayName="template">
        <div [ngClass]="item.name + '-car'" [formGroupName]="itemIndex">

            <!-- <div class="form-group row edit-template-option" *ngIf="ShowOption=='show'">
                <select class="form-control" name="EmailType" (change)="SelectedOption($event)" required>
                    <option [ngValue]=" " selected>Create New</option>
                    <option *ngFor="let list of Optionmodel" [ngValue]="list.name">
                        {{list.name}}
                    </option>
                </select>
            </div> -->

            <nb-accordion>
                <nb-accordion-item>
                    <nb-accordion-item-header>
                        {{ form.controls['items'].value[this.itemIndex].name  ? form.controls['items'].value[this.itemIndex].name  : 'New Template' }}
                    </nb-accordion-item-header>
                    <nb-accordion-item-body>
                        <!-- <div formGroupName="template"> -->
                            <!-- <div class="form-group row">
                                <label for="name" class="col-sm-3 col-form-label"> Name</label>
                                <div class="col-sm-9">
                                    <input nbInput class="full-width form-control" type="text" name="name" id="name" formControlName="name" placeholder="Template Name" [(ngModel)]="model?.name ? model?.name : form.controls['items'].value[this.itemIndex].name" [readonly]="namereadonly"
                                        required>
                                    <show-errors [control]="form.controls['items']['controls'][itemIndex].controls.name"></show-errors>
                                </div>
                            </div> -->
                            <!-- <div class="form-group row">
                                <label for="templateName" class="col-sm-3 col-form-label">Template Name</label>
                                <div class="col-sm-9">
                                    <input nbInput class="full-width form-control" type="text" name="name" id="templateName" formControlName="templateName" placeholder="Template Name" [(ngModel)]="model?.templateName ? model?.templateName : form.controls['items'].value[this.itemIndex].templateName" 
                                        required>
                                    <show-errors [control]="form.controls['items']['controls'][itemIndex].controls.templateName"></show-errors>
                                </div>
                            </div> -->
                            <!-- <div class="form-group row">
                                <label for="notesDescription" class="col-sm-3 col-form-label">Notes/Description</label>
                                <div class="col-sm-9">
                                    <textarea nbInput type="text" name="notesDescription" id="notesDescription" class="full-width form-control" formControlName="notesDescription" placeholder="Notes" [(ngModel)]="model?.notesDescription ? model?.notesDescription : form.controls['items'].value[this.itemIndex].notesDescription" 
                                        required></textarea>
                                    <show-errors [control]="form.controls['items']['controls'][itemIndex].controls.notesDescription"></show-errors>
                                </div>
                            </div> -->
                            <!-- <div class="form-group row">
                                <label for="subject" class="col-sm-3 col-form-label">Subject</label>
                                <div class="col-sm-9">
                                    <input class="full-width form-control" nbInput type="text" name="subject" id="subject" formControlName="subject" placeholder="Enter Subject" [(ngModel)]="model?.subject ? model?.subject : form.controls['items'].value[this.itemIndex].subject"
                                        required>
                                    <show-errors [control]="form.controls['items']['controls'][itemIndex].controls.subject"></show-errors>
                                </div>
                            </div> -->
                            <!-- <div class="form-group row">
                                <label for="locale" class="col-sm-3 col-form-label">Locale</label>
                                <div class="col-sm-9">
                                        <select class="form-control" name="locale"  [(ngModel)]="model?.locale ? model?.locale : form.controls['items'].value[this.itemIndex].locale"   formControlName="locale"  required>
                                                <option *ngFor="let list of Optionlocale" [value]="list.locale"  >
                                                    {{list.displayName}}
                                                </option>
                                            </select>
                                    <show-errors [control]="form.controls['items']['controls'][itemIndex].controls.locale"></show-errors>
                                </div>
                            </div> -->
                            <div class="form-group row">
                                <label for="displayFromName" class="col-sm-3 col-form-label">From Name</label>
                                <div class="col-sm-9">
                                    <input nbInput type="text" name="from" id="displayFromName" formControlName="displayFromName" placeholder="From Name" class="full-width form-control" 
                                        required>
                                    <!-- <show-errors [control]="form.controls['items']['controls'][itemIndex].controls.displayFromName"></show-errors> -->
                                </div>
                            </div>
                            <!-- <div class="form-group row">
                                <label for="body" class="col-sm-3 col-form-label">Body</label>
                                <div class="col-sm-9">
                                    <ckeditor id="body" name="body" formControlName="body" [config]="{ extraPlugins: 'divarea', height: '200' }" required [(ngModel)]="model?.body ? model?.body : form.controls['items'].value[this.itemIndex].body"></ckeditor>
                                    <show-errors [control]="form.controls['items']['controls'][itemIndex].controls.body"></show-errors>
                                </div>
                            </div> -->

                        <!-- </div> -->
                    </nb-accordion-item-body>
                </nb-accordion-item>
            </nb-accordion>
            <!-- <div class="form-group row sequnce-waitdays-row">
                <label for="numberOfDaysToWait" class="col-sm-3 col-form-label">No. of Days to wait</label>
                <div class="col-sm-3">

                    <input nbInput type="number" formControlName="numberOfDaysToWait" class="full-width form-control" id="numberOfDaysToWait"  placeholder="Number of days to wait"
                        name="numberOfDaysToWait" [readonly]="readonlyfields" required>

                    <show-errors [control]="form.controls['items']['controls'][itemIndex].controls.numberOfDaysToWait"></show-errors>
                </div>
                <label for="sequentialOrder" class="col-sm-3 col-form-label">Sequential Order</label>
                <div class="col-sm-3">
                    <input nbInput type="number" id="sequentialOrder" class="full-width form-control" placeholder="Sequence Order" name="sequentialOrder"
                        formControlName="sequentialOrder" [readonly]="readonlyfields" required>
                    <show-errors [control]="form.controls['items']['controls'][itemIndex].controls.sequentialOrder"></show-errors>
                </div>
            </div> -->
        </div>
    </div>
</div>