.loader-hidden {
    visibility: hidden;
}

.loader-overlay{
	position: fixed;
	bottom: 0;
	background: rgba(0,0,0,0.5);
	 width:100%;
    top:0;
    left: 0;
    opacity: 1;
    z-index: 500000;
}
.mat-spinner.mat-primary{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 50px !important;
	height: 50px !important;
}
 .mat-spinner path{
	stroke:#bb232d !important;
}

.mat-progress-spinner circle, .mat-spinner circle {
    stroke: #0093d7;
}

.mat-progress-spinner {
	top: 45%;
    position: absolute!important;
    left: 0;
    right: 0;
}